# dependencies
node_modules/

# lockfiles (keep these in git, so don’t ignore them)
# package-lock.json
#*/package-lock.json

# builds
dist/
build/

# environment
.env
.env.local

# misc
.DS_Store
coverage/
